.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh; /* Make it take up some vertical space */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px;
}

.blog-post {
    border: 1px solid #ccc;
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    border-radius: 8px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-post .author {
    font-style: italic;
    margin-bottom: 10px;
}

.blog-post .content {
    text-align: left;
}